streamlit
openai
annotated-types
anyio
certifi
charset-normalizer
distro
exceptiongroup
h11
httpcore
httpx
numpy
idna
opencv-python
Pillow
pycparser
pydantic
pydantic_core
requests
pandas
tqdm
typing_extensions
urllib3
beautifulsoup4
SpeechRecognition
soundfile
temp
streamlit-webrtc
pygwalker
plotly
protobuf
tensorflow
pytube
pydub
moviepy
hydralit_components
streamlit_elements
streamlit_extras
extra_streamlit_components
ipython
langchain
opencv-python-headless
opencv-contrib-python-headless
streamlit-webrtc